<div class="footer container" id="footer">
  <nav class="footer-nav">
    | <a class="footer-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a> |

    {% assign pages_list = site.pages | sort:"weight" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <a href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a> |
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="footer-item">
    <p>
      &copy; {{ site.time | date: '%Y' }} Illinois Institute of Technology IEEE Student Branch. All rights reserved.
    </p>
    <p id="socialmedia">
      <a href="https://www.facebook.com/IEEEIIT" target="_blank" title="Like on Facebook"><i class="fa fa-facebook-square"></i></a>
      <a href="https://twitter.com/ieeeiit" target="_blank" title="Follow on Twitter"><i class="fa fa-twitter-square"></i></a>
      <a href="https://github.com/IEEE-IIT" target="_blank" title="Fork on GitHub"><i class="fa fa-github-square"></i></a>
      <a href="http://www.linkedin.com/groups/IEEE-Chicago-Section-2073200" target="_blank" title="Connect on LinkedIn"><i class="fa fa-linkedin-square"></i></a>
    </p>
  </div>
</div>
